{% extends "adminhome.html" %}

{% block add %}



<h1>Buyed Videos</h1>
<div class="viewdiv">


<div class="viewlog">

    <table class="table">
        <tr>
            <th>Si No</th>
            <th>Buyer</th>
            <th>video</th>
            <th>title</th>
            <th>details</th>
            <th>amount</th>
            <th>date</th>
            <th>status</th>

        

            
        </tr>
        {%for val in view%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{val.nchs.name}}</td>
                <td>
                    <video controls style="max-width: 300px;max-height: 300px;">
                        <source src="/static/media/{{val.video}}" type="{{ video.type }}" >
                    </video>

                </td>
                <td>{{val.videos.title}}</td>
                <td>{{val.videos.details}}</td>
                <td>{{val.videos.amount}}</td>
                <td>{{val.date}}</td>
                <td>{{val.status}}</td>
                

                {% if  val.status == "paid" %}
                <td>
                    <a class="btn btn-success"href="/viewpayment/{{val.buy_id}}">Payment</a>
                </td>
                <td>
                    <a class="btn btn-success"href="/viewcom/{{val.buy_id}}">Commission</a>
                </td>
                
               
                {% endif %}
               

            </tr>
            {% endfor %}
    </table>

</div>

</div>
{% endblock %}