{% extends 'index.html' %}
{% block add %}
<h1 align="center">User Registration</h1>
<div class="divmain">

<div class="log">

    <form action="" method="post">
        <table>
            <tr>
                <th>fIrst Name</th>
                <td><input type="text" name="fname" class="form-control text-feild" {% if updhr %} value="{{updhr.fname}}" {% endif %} id="" required ></td>
            </tr>
    
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lname" class="form-control text-feild" id="" {% if updhr %} value="{{updhr.lname}}" {% endif %} required ></td>
            </tr>
        
            
           
            <tr>
                <th>Place</th>
                <td><input type="text" name="place" class="form-control text-feild" id="" {% if updhr %} value="{{updhr.place}}" {% endif %} required ></td>
            </tr>
  
   
            <tr>
                <th>Phone</th>
                <td><input type="text" name="phone" pattern={0-9}[10] title="Please enter a 10-digit number" class="form-control text-feild" id="" {% if updhr %} value="{{updhr.phone}}" {% endif %} required maxlength="10" minlength="10"></td>
            </tr>

            <tr>
                <th>Email</th>
                <td><input type="email" name="email" class="form-control text-feild" id="" {% if updhr %} value="{{updhr.email}}" {% endif %} required ></td>
            </tr>

          
          
            <tr>
                <th>Username</th>
                <td><input type="text" name="uname" id="" class="form-control text-feild" required ></td>
            </tr>
            <th>Password</th>
          
             <td> <input type="password" id="" name="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain at least one digit, one lowercase letter, one uppercase letter, and be at least 8 characters long." required class="form-control text-feild" ></td>
          

            <tr>
            
                <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="sub" id="" required value="ADD" ></td>
            </tr>
            
        </table>
    </form>

</div>
</div>

{% endblock %}